In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
model = np.array([34,35,36,46,46,39], dtype= float)

In [ ]:
solar = np.array([4,5,6,7,3,5], dtype = float)
solar = solar/2
wind = np.array([1,2,4,5,4,9], dtype = float)
wind = wind/5

In [ ]:
wind

array([0.2, 0.4, 0.8, 1. , 0.8, 1.8])

,Hr1,Hr2,Hr3,Hr4,Hr5,Hr6,Hr7,Hr8,Hr9,Hr10,...,Hr15,Hr16,Hr17,Hr18,Hr19,Hr20,Hr21,Hr22,Hr23,Hr24
1,150,146,144,144,146,154,169,180,184,185,...,182,184,190,199,198,193,187,179,167,156.0
2,147,142,139,138,139,147,161,173,179,184,...,185,185,190,195,192,187,182,174,164,153.0
3,146,140,137,135,135,138,144,151,159,167,...,173,173,178,184,183,180,177,172,164,156.0
4,147,142,140,139,139,142,147,153,159,165,...,172,176,184,195,194,191,186,179,169,159.0
5,152,148,146,145,148,157,174,187,191,195,...,188,190,196,206,205,201,195,186,174,162.0
6,154,149,147,147,149,159,176,189,191,191,...,189,191,198,206,205,201,195,185,173,162.0
7,154,150,147,147,149,158,175,188,191,192,...,191,195,203,214,215,211,205,197,185,174.0
8,167,162,160,160,163,172,189,201,203,201,...,196,199,207,216,215,211,205,195,183,171.0
9,162,157,153,152,154,162,177,189,192,195,...,188,188,192,197,194,188,182,175,165,155.0
10,147,141,137,136,136,138,144,150,156,160,...,163,164,168,175,174,171,167,161,154,146.0

In [ ]:
target = dummy.loc[1,:]
solar = pd.read_csv('demo-solar.csv')
wind = pd.read_csv('demo_wind.csv')

In [ ]:
target

Hr1     150.0
Hr2     146.0
Hr3     144.0
Hr4     144.0
Hr5     146.0
Hr6     154.0
Hr7     169.0
Hr8     180.0
Hr9     184.0
Hr10    185.0
Hr11    182.0
Hr12    180.0
Hr13    178.0
Hr14    180.0
Hr15    182.0
Hr16    184.0
Hr17    190.0
Hr18    199.0
Hr19    198.0
Hr20    193.0
Hr21    187.0
Hr22    179.0
Hr23    167.0
Hr24    156.0
Name: 1, dtype: float64